NEXT_PUBLIC_API_REST_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_API_SOCKET_URL=ws://localhost:3000
NEXT_PUBLIC_API_SECRET_KEY=secret_key

## <!-- Recaptcha Cloudflare -->
NEXT_PUBLIC_CAPTCHA_SITE_KEY=

NEXT_PUBLIC_SIP_COTURN_URL=turn:[host:port]
NEXT_PUBLIC_SIP_COTURN_USER=[username]
NEXT_PUBLIC_SIP_COTURN_PASSWORD=

## <!-- Support contacts -->
NEXT_PUBLIC_SUPPORT_EMAIL_CONTACT=support@email.com

## <!-- Sentry -->
NEXT_PUBLIC_SENTRY_DSN=https://*******token****@sentry.****.com/project_id
SENTRY_AUTH_TOKEN=